.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row; /* appear Vertically*/
  justify-items: center;
}
@media (max-width: 767px) { 
  .grid-container { 
    grid-auto-flow: column; /* appear Horizontally on mobile phones*/
  }
}


.text {
  margin-top: 50px;
  margin-left: 40%;
}
.one {
  grid-column: auto;
  grid-row: 1;
}
.two {
  grid-column:auto;
  grid-row: 1;
}
.three {
  grid-column: auto;
  grid-row: 1;
}
